{{#*inline "navbar_extra"}}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/{{ prev_url }}">&larr;</a></li>
    <li><a href="/{{ next_url }}">&rarr;</a></li>
    <li><a href="/edit/{{page}}">Edit</a></li>
  </ul>

  <form action="/search" method="get" class="nav navbar-nav navbar-right" style="margin: 1em">
    <input type="text" name="pattern" />
    <input type="submit" value="search" />
  </form>
{{/inline}}


{{#*inline "content"}}
  <div id="content">
    {{{ content }}}
  </div>

  <script>
    var ws = new WebSocket("ws://localhost:{{{ socket_port}}}");
    ws.onmessage = function(event) {
      console.log("Refreshing...");

      var url = "/markdown" + location.pathname;
      $.get(url, function(data) {
        $("#content").html(data);

        Prism.highlightAll();
      });
    };

    ws.onopen = function(event) {
      console.log("Web socket connection opened.")
    }

    ws.onclose = function(event) {
      console.log("Web socket closed");
    }

    ws.onerror = function(event) {
      console.log("Web socket error");
      console.log(event);
    }

    console.log("Web socket created... Waiting...")
  </script>
{{/inline}}


{{#*inline "page_header"}}
  <p>
    <a href="/edit/{{page}}">Edit</a> |
    <a href="/edit_editor/{{page}}">Open in editor</a>
  </p>
{{/inline}}

{{~> layout ~}}
